<!DOCTYPE html>
<html ng-app="BaylySeed">
  <head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="fragment" content="!">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="{{ metaDescription }}">
        <meta name="keywords" content="{{ metaKeywords }}">
        <meta name="author" content="Ray Bayly">
        <link rel="icon" href="/img/favicon.ico">
        <base href="/">

        <title>BaylySoft {{ pageTitle }}</title>
    
    <!--Default Application css file-->
        <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
    
    
    <!-- Bootstrap core CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
      
      <!--Slick CSS-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.7/slick.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.7/slick-theme.min.css">

    <!-- Custom styles for this template -->
        <link href="/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">BaylySoft App Template</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('Login')}"><a href="/login">Login</a></li>
                <li ng-class="{ active: isActive('Home')}"><a href="/">Home</a></li>
                <li ng-class="{ active: isActive('About')}"><a href="/about">About</a></li>
                <li ng-class="{ active: isActive('Register')}"><a href="/register">Register</a></li>
                <li ng-class="{ active: isActive('Events')}"><a href="/events">Events</a></li>
                <li ng-class="{ active: isActive('Products')}"><a href="/products">Products</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    <!--End of Fixed Navbar-->
    <div class="jumbotron">
      <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
          <div ng-view></div>
        </div>
      </div>
    </div>

    <div class="credits text-center">
      <p>
          <a href="#">BaylySoft Angular Seed</a>
      </p>
      <p>
        <a href="http://baylysoft.com">BaylySoft.com</a>
      </p>
    </div>

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-cookies.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.7/slick.min.js"></script>
    <script src="com/app.js"></script>
  </body>

</html>